Repository lab-brussels-1/group6, pull requests merged in 2022-03, with the labels that each got.

#2 Pr for MD files added to the planning folder
  planning/backlog.md
  planning/design.md
  planning/development-strategy.md
  planning/user-personas.md
Labels: documentation, MD

#3 added retrospective file
  planning/retrospective.md
Labels: documentation, MD

#5 added communication and constraints md file
  planning/communication-plan.md
  planning/constraints.md
Labels: documentation, MD

#16 PR for mixed information added to MDs and index.html
  index.html
  package-lock.json
  planning/README.md
  planning/assets/pageincons.webp
  planning/communication-plan.md
Labels: MD, HTML

#8 PR 1 - constraints file update
  planning/constraints.md
Labels: MD, Deliverable, Constraints, planning

#20 remove distance as constraints
  planning/constraints.md
Labels: MD, Deliverable, Constraints, planning

#17 PR2 user-persona file update
  .cspell.json
  package-lock.json
  planning/user-personas.md
Labels: MD, User-Persona, planning

#21 8 - Main Readme md update
  README.md
  public/all about tree .webp
Labels: MD, Deliverable, planning

#23 4 backlog file update
  .cspell.json
  package-lock.json
  planning/backlog.md
Labels: MD, Deliverable, Backlog, planning

#24 spelling correction on MD files
  README.md
  planning/assets/group6design.jpg
  planning/assets/group6logo.jpg
  planning/backlog.md
  planning/communication-plan.md
  planning/constraints.md
  planning/design.md
Labels: MD

#25 PR 5-design
  planning/assets/gp6svg.svg
  planning/design.md
Labels: MD, Deliverable, Design

#37 header part html and css update
  index.html
  public/logo-group-6.jpg
  public/tree1.jpg
  styles/index.css
Labels: Deliverable, planning, HTML, CSS

#36 PR website footer and button
  index.html
  planning/assets/group6design.jpg
  planning/assets/group6img1.jpg
  planning/assets/group6img2.jpg
  planning/assets/group6img3.jpg
  planning/assets/group6img5.jpg
  styles/index.css
Labels: Deliverable, HTML, CSS

#38 PR Csschanges
  index.html
  styles/index.css
Labels: HTML, CSS

#39 HTML And CSS updated start to end
  index.html
  planning/backlog.md
  styles/index.css
Labels: planning, HTML, CSS

#41 Retrospective file
  planning/retrospective.md
Labels: week-1, Restrospective

#42 Csschanges
  index.html
  planning/assets/happy-tree.jpg
  styles/index.css
Labels: CSS

#43 hover aligned
  index.html
  styles/index.css
Labels: CSS

#44 PR SVG updated - html smooth scrolling
  planning/assets/gp6svg.svg
  styles/index.css
Labels: planning, HTML, CSS
